<img src="{{movie.image}}" alt="movie poster">
<div>
    <a href="/movies">Go back</a>
    <h1>{{movie.title}}</h1>
    <h2>Director: {{movie.director}}</h2>
    <h4>Stars</h4>
    <ul>
        {{#each movie.stars}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    <p>{{movie.description}}
    </p>
    <ul>
        {{#each movie.showtimes}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
</div>